@model IEnumerable<PayxApi.DTOs.PayrollDTO>
@{
    Layout = "_PayxLayout";
}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>
              <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Transaction-Id</th>
                    <th scope="col">Employee Card-Id</th>
                    <th scope="col">Basic Pay</th>
                    <th scope="col">Deductions</th>
                    <th scope="col">Tax</th>
                    <th scope="col">Allowances</th>
                    <th scope="col">Bonus</th>
                    <th scope="col">Gross Pay</th>
                    <th scope="col">R.ment Date</th>
                  </tr>
                </thead>
                <tbody>
            @foreach (var employee in Model)
            {               
            
                  <tr>
                    <th scope="row">@Html.DisplayFor(e => employee.TransactionId)</th>
                    <th scope="row">@Html.DisplayFor(e => employee.EmployeeCardId)</th>
                    <td>@Html.DisplayFor(e => employee.EmployeeBasicPay)</td>
                    <td>@Html.DisplayFor(e => employee.OtherDeduction)</td>
                    <td>@Html.DisplayFor(e => employee.Tax)</td>
                    <td>@Html.DisplayFor(e => employee.TotalAllowance)</td>
                    <td>@Html.DisplayFor(e => employee.TotalBonus)</td>
                    <td>@Html.DisplayFor(e => employee.GrossPay)</td>
                    <td>@Html.DisplayFor(e => employee.ReinbursementDate)</td>
                    <td><a asp-action="GetLedger" asp-controller="Ledger" asp-route-employeeId="@employee.LedgerId" type="button" class="btn btn-danger">View Ledger</a></td>
                    <td><a asp-action="Employee" asp-controller="GivenBonus" asp-route-employeeId="@employee.LedgerId" type="button" class="btn btn-danger">View Bonuses Attached</a></td>
                    <td><a asp-action="Employee" asp-controller="GivenDeductions" asp-route-employeeId="@employee.LedgerId" type="button" class="btn btn-danger">View Deductions Attached</a></td>
                  </tr>
            }
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->